extends layout
block navigation
          div.authentication
            a.home(href = '/') home
            a.togallerybutton(href='/') to gallery   
          button#menubutton
            | menu
            div#mobilemenu
                ul#mobilemenuul
                    li
                    a.mobilemenuli(href='/') home
                    li
                    a.mobilemenuli(href='/') to gallery  
                    li
                    a.mobilemenuli(href='/logout') logout
          script.
                $(document).ready(function() {
                $("#menubutton").click(function(){
                $("#mobilemenu").slideToggle();
                });
                });

block content
      .maincontent
        .page
          a.searchItem(href='/')
           |remove filter "#{session.searchItem}"     
          .grid-container
                each herb in gallery
                    
                    div.tooltip
                        div.item.photoThumbnail
  
                                    

                            if herb.herbPicPath
                                  
                                a(href=`/displayherb/${herb.herbName}`)
                                    img.diplayplant(src="https://isabelleherbs.s3.eu-west-1.amazonaws.com/plantpics/"+herb.herbPicPath, alt=herb.herbName title= herb.herbName loading= "lazy" width= "375" height= "375")
                                    //img.image(src=`https://isabelles3.s3.eu-west-1.amazonaws.com/plantpics/`+herb.herbPicPath, alt=herb.herbName title= herb.herbName loading= "lazy" width= "375" height= "375")
                                    //img.image(src='/' +herb.herbPicPath, alt=herb.herbPicPath)
                            a.h1.itemtitle(href='/displayherb/'+herb.herbName)  #{herb.herbName}
                            a.threedots(href='/displayherb/'+herb.herbName) ...
                            - var nameCat=''
                            - nameCat =  herb.herbNameLatin? nameCat+" latin:  "+herb.herbNameLatin : nameCat
                            - nameCat =  herb.herbCategory? nameCat+", category:  "+herb.herbCategory : nameCat 
                            if nameCat.length > 1 && cat !== 'undefined'
                                p.itemp #{nameCat}
                            -nameCat ='';
                            - var names =''
                            - names =  herb.herbNameFrench != 'undefined'? herb.herbNameFrench : names
                            - names =  herb.herbNameChinese? names+", "+herb.herbNameChinese : names
                            if names.length > 1 && names !== 'undefined'
                                p.itemp other names: #{names}
                            -names = '';                 
                            if herb.herbProperties && herb.herbProperties!= "" && herb.herbProperties !== "null"
                                h3.itemp may help with: #{herb.herbProperties}  
                            if herb.herbComments && herb.herbComments!= "" && herb.herbComments !== "null"
                                p.itemp remarks: #{herb.herbComments}           
