extends layout

block navigation
    div.authentication
            a.editgallery(href='https://iridologyreadings.com/') iridology  
            if  !session.user 
                if !session.dbIsOffline == true
                    a.loginbutton(href='/login') admin login 
                    // a.registerbutton(href='/register') register
           
            if session.user 
                if session.user.userRole == 'admin'
                    a.editgallery(href='/uploadherb') add herb
                    a.editgallery(href='/api/herbpic') add herb pic
                    a.updatedbbutton(href='/updatedb') update DB
              
            if session.user
                a.myprofilebutton(href=`/userprofile/${user.userId}`) profile
                    form(action="/logout?_method=DELETE" method="POST")
                        button.logoutbutton(type="submit") logout
                
    button#menubutton
        |   menu
        div#mobilemenu
                ul#mobilemenuul
                    li
                    a.mobilemenuli(href='https://iridologyreadings.com/') iridology  
                    if !session.user 
                     
                        if !session.dbIsOffline == true
                        
                            li
                            a.mobilemenuli(href='/login') admin login 
                        
                            //li
                            //a.mobilemenuli(href='/register') register
                        
                    if session.user
                        if session.user.userRole == 'admin'
                            li
                            a.mobilemenuli(href='/uploadherb') add herb 
                            li
                            a.mobilemenuli(href='/api/herbpic') add herb pic
                            li
                            a.mobilemenuli(href='/uploadjson') upload JSON
                            li
                            a.mobilemenuli(href='/updatedb') update DB
                        
                        li
                        a.mobilemenuli(href='/logout') logout                     
    script.
                $(document).ready(function() {
                $("#menubutton").click(function(){
                $("#mobilemenu").slideToggle();
                });
                });
                    



block content
    
        .maincontent
            .page
            

                form.filterphotos(method="post" action="/filterherbs")
                  
                    input.search(name="search",list = 'tags', type="text", Placeholder="type 'schi' for example...")              
                    datalist#tags
                        each element in datalist
                            option.option #{element}
 
                    button.searchbutton(type="submit") go   
                .grid-container
                    
                    each herb in gallery
                        
                            div.tooltip
                                div.item.photoThumbnail
  
                                    
                                    //img(src=`data:${'image/png'};base64,${herb.herbPicPath}`, alt="herb pic")
                                    if herb.herbPicPath
                                        //img.image(src='/' +herb.herbPicPath, alt=herb.herbName)
                                        img.image(src=`https://isabelles3.s3.eu-west-1.amazonaws.com/plantpics/`+herb.herbPicPath, alt=herb.herbName)
                                        //s3://isabelles3/plantpics/
                                        //https://isabelles3.s3.eu-west-1.amazonaws.com/plantpics/artemisiaannua.png
                                    
                                    
                                    a.h1.itemtitle(href='/displayherb/'+herb.herbId)  #{herb.herbName} 
                                    a.threedots(href='/displayherb/'+herb.herbId) more ...
                                        
                                    
                                    
                                    
                                    - var nameCat=''
                                    - nameCat =  herb.herbNameLatin!= ''? nameCat+" latin:  "+herb.herbNameLatin : nameCat
                                    - nameCat =  herb.herbCategory? nameCat+" category:  "+herb.herbCategory : nameCat 
                                    if nameCat.length > 1 && cat !== 'undefined'
                                        h3.itemp #{nameCat}
                                    -nameCat ='';
                                    - var names =''
                                    - names =  herb.herbNameFrench != 'undefined'? herb.herbNameFrench : names
                                    - names =  herb.herbNameChinese? names+" "+herb.herbNameChinese : names
                                    if names.length > 1 && names !== 'undefined'
                                        p.itemp other names: #{names}
                                    -names = '';                 
                                    if herb.herbProperties && herb.herbProperties!= "" && herb.herbProperties !== "null"
                                    h2.itemp may help with: #{herb.herbProperties} 
                                    p.disclaimerp  benefits traditionally associated with #{herb.herbName}. Consult a healthcare professional before taking, respect recommended dosage and again, less is more!.  
                                    if herb.herbComments && herb.herbComments!= "" && herb.herbComments !== "null"
                                        p.itemp contraindications: #{herb.herbComments} 
                                    
                                    
                                    if herb.herbProducts && herb.herbProducts!= []
                                        
                                        each link in herb.herbProducts
                                            a.itemp(href= link.url) find #{herb.herbName} products online: #{link.domain}      