extends layout

block navigation
    div.authentication
           a.home(href='/') home
           if session.user
            if session.user.userRole == 'standard'
             a.editgallery(href='/editgallery') edit gallery
           
           if  !session.user 
            if !session.dbIsOffline == true

                a.loginbutton(href='/login') login 
                a.registerbutton(href='/register') register
           
           if session.user 
             if session.user.userRole == 'admin'
              a.uploadjsonbutton(href='/uploadjson') upload JSON
              a.updatedbbutton(href='/updatedb') update DB
              
           if session.user
            form(action="/logout?_method=DELETE" method="POST")
             button.logoutbutton(type="submit") logout
    button#menubutton
            | menu
            div#mobilemenu
                ul#mobilemenuul
                    li
                    a.mobilemenuli(href='/') home
                    if !session.user 
                     
                      if !session.dbIsOffline == true
                        
                            li
                            a.mobilemenuli(href='/login') login 
                        
                            li
                            a.mobilemenuli(href='/register') register
                        
                    if session.user
                        if session.user.userRole == 'admin'
                            li
                            a.mobilemenuli(href='/uploadjson') upload JSON
                            li
                            a.mobilemenuli(href='/updatedb') update DB
                            li
                            a.mobilemenuli(href='/logout') logout                        
    script.
              $(document).ready(function() {
              $("#menubutton").click(function(){
              $("#mobilemenu").slideToggle();
              });
              });
                    



block content
      .maincontent
            div
            table.usersTable
                tr
                    th Id
                    th first name
                    th last name
                    th email
                    th role
                    th active
                    th set names
                    th edit
            
                for user in users
                 tr
                    td #{user.userId}
                    td #{user.userFirstName}
                    td #{user.userLastName}
                    td #{user.userEmail}
                    td #{user.userRole}
                    td #{user.active}
                    td #{user.userSetNames}
                    td
                     a(href='/edituser/'+user.userId) edit

